<div class="login-container">
  <div class="left-side"></div>
  <div class="right-side">
    <div class="login-box">

      <div class="input-fields">
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput type="text" [formControl]="usernameControl">
          <mat-error *ngIf="usernameControl.hasError('required') && usernameControl.touched">
            El usuario es obligatorio
          </mat-error>
        </mat-form-field>
        

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" [formControl]="passwordControl">
          <mat-error *ngIf="passwordControl.hasError('required') && passwordControl.touched">
            La contraseña es obligatoria
          </mat-error>
        </mat-form-field>
      </div>

      <div class="button-container">
        <button mat-button class="login-button" (click)="login()">Iniciar sesión</button>
      </div>

    </div>
  </div>
</div>